#Environment files
.env

# Node modules
node_modules/

# Package lock json
package-lock.json

# Logs
*.log

# Build output
dist/
build/
out/

# IDE settings
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db